[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nestjs-ms-course-udemy/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nestjs-ms-course-udemy/products-ms.git
